
.DS_Store
matsimilarity/methods/mat/MUITAS/.ipynb_checkpoints/MUITAS_T2T-checkpoint.py
matsimilarity/methods/mat/MSM/.ipynb_checkpoints/MSM_T2T-checkpoint.py
matsimilarity/methods/mat/LCSS/.ipynb_checkpoints/LCSS_T2T-checkpoint.py
matsimilarity/methods/mat/EDR/.ipynb_checkpoints/EDR_T2T-checkpoint.py
matsimilarity/core/.ipynb_checkpoints/utils-checkpoint.py
matsimilarity/core/.ipynb_checkpoints/SimilarityMeasure-checkpoint.py
docs/source/.ipynb_checkpoints/index-checkpoint.rst
docs/source/.ipynb_checkpoints/conf-checkpoint.py
.ipynb_checkpoints/Steps to Build-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/MAT-similarity-Tutorial-checkpoint.ipynb
.ipynb_checkpoints/CHANGELOG-checkpoint.md
